/* 共通のスタイル */
body {
  color: #000000;
  background-color: #ffffff;
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 18px;
}

nav, h2, h1 {
  font-size: 34px;
  font-weight: 700;
}

h2 {
  text-align: center;
}
h3 {
  font-size: 24px;
}

p {
  font-weight: 500;

}
/* PCスタイル */
body {
  max-width: 1440px;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 32px 16px;
}

.nav ul {
  display: flex;
  list-style: none;
  gap: 18px;
}

.nav li {
  height: 49px;
}

.title {
  padding: 3px 19px ;
  height: 51px;
  border: 1px solid;
}

#main>img {
  width: 100%;
  margin: 0 0;
}

/* About */
.about {
  margin: 72px auto 0 auto;
}

.about-img {
  border-radius: 140px;
}
.about-div {
  display: flex;
  justify-content: center;
  gap: 80px;
}
.about-description {
  margin-top: 20px;
}

/* Works */
.works {
  margin: 72px auto 0 auto;
}

.works-div {
  display: flex;
  justify-content: center;
  max-width: 960px;
  margin: 0 auto;
  gap: 16px;
}
.works-div div {
  width: 100%;
}

.works-div img {
  width: 100%;
}

footer {
  margin-top: 72px;
  text-align: center;
}

/* スマホスタイル */
@media screen and (max-width: 767px) {
  /* common */
  body {
    margin: 0 auto;
  }
  /* header */
  header {
    margin: 0;
    justify-content: space-around;
  }
  .title {
    font-size: 28px;
    height: 42px;
  }
  .nav {
    font-size: 21px;
  }
  .nav ul {
    padding-top: 5px;
  }
  .nav li {
    height: 30px;
  }
  /* About */
  .about {
    width: 100%;
    height: auto;
    margin: 72px 0;
  }
  .about-div {
    flex-direction: column;
    align-items: center;
  }
  .about-img {
    height: 280px;
    width: 280px;
  }
  #name {
    margin-left: 10px;
  }
  .about-description {
    margin-top: 0;
  }

  /* Works */
  .works {
    width: 100%;
    margin: 1px auto;
  }
  .works-div {
    flex-direction: column;
    align-items: center;
    gap: 44px;
    padding: 0 10px;
    text-align: center;
  }

}